@import '../../index.scss';

.credit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e9ecef;
  max-width: 400px;
  background-color: inherit;
  opacity: 0.5;

  .credit {
    display: flex;
    color: gray;
    font-size: 12px;

    @include sm {
      font-size: 10px;
    }
    a {
      padding: 0 12px;
      color: grey;
    }
  }

  .source-code {
    display: flex;
    color: gray;
    font-size: 12px;
    @include sm {
      font-size: 10px;
    }
    a {
      padding: 0 12px;
      color: grey;
    }
  }
}
